.Wdate{
	border:#F5F5F5 1px solid;
	height:30px;
	width:170px;
	background:#fff url(datePicker.gif) no-repeat right;
}
.Wdate::-ms-clear{display:none;}
.WdateFmtErr{
	font-weight:bold;
	color:red;
}
#merName{
	height:28px;
}